body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.viewActive {
  color: rgb(7, 80, 0);
  padding-left: 20px;
}

.view {
  color: rgb(255, 255, 255);
  padding-left: 20px;
}

.navbackground{
  background-color: rgb(62, 157, 189);

}